USE [master]
GO
/****** Object:  Database [finalproject]    Script Date: 06-08-2025 14:02:13 ******/
CREATE DATABASE [finalproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'finalproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'finalproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finalproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finalproject]
GO
/****** Object:  Table [dbo].[tbl_application]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jid] [int] NULL,
	[name] [varchar](200) NOT NULL,
	[mobno] [bigint] NULL,
	[emailid] [varchar](200) NOT NULL,
	[address] [varchar](200) NULL,
	[qualification] [varchar](200) NULL,
	[exp] [varchar](200) NULL,
	[salary] [int] NULL,
	[gender] [varchar](200) NULL,
	[resume] [varchar](200) NULL,
	[picture] [varchar](200) NULL,
	[regdate] [datetime] NULL,
	[status] [varchar](200) NULL,
	[ishired] [bit] NULL,
	[isrejected] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_attendance]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[adate] [date] NULL,
	[atime] [time](7) NULL,
	[addedon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emplogin]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emplogin](
	[email] [varchar](200) NOT NULL,
	[password] [varchar](100) NULL,
	[appid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_enquiry]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_enquiry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[email] [varchar](200) NULL,
	[message] [text] NULL,
	[enqdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_leave]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_leave](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[title] [varchar](250) NULL,
	[detail] [text] NULL,
	[fromdate] [date] NULL,
	[todate] [date] NULL,
	[applidon] [datetime] NULL,
	[totaldays] [int] NULL,
	[isaccepted] [bit] NULL,
	[attachfile] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_opening]    Script Date: 06-08-2025 14:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_opening](
	[id] [int] IDENTITY(101,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[detail] [varchar](250) NULL,
	[jobtype] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[minsalary] [int] NULL,
	[maxsalary] [int] NULL,
	[gender] [varchar](50) NULL,
	[shift] [varchar](100) NULL,
	[exp] [varchar](200) NULL,
	[education] [varchar](200) NULL,
	[vacancy] [int] NULL,
	[lastdate] [date] NULL,
	[startdate] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_application] ON 

INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (8, 107, N'Samar', 8954123678, N'sy5549678@gmail.com', N'lucknow', N'b.tech', N'1 year', 100000, N'Male', N'a1.jpg', N'1.jpeg', CAST(N'2025-08-06T11:45:28.000' AS DateTime), N'1', 1, 0)
INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (9, 107, N'Samar_1', 7845963210, N'sy5549678@gmail.com', N'pune', N'b.tech', N'1 year', 120000, N'Male', N'a2.jpeg', N'EXAMINATION FORM.pdf', CAST(N'2025-08-06T11:58:44.000' AS DateTime), N'1', 1, 0)
INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (10, 102, N'shikha', 8945123685, N'sr6655303@gmail.com', N'pune', N'b.tech', N'2 year', 500000, N'Male', N'images.png', N'director.jpeg', CAST(N'2025-08-06T01:09:28.000' AS DateTime), N'1', 0, 0)
SET IDENTITY_INSERT [dbo].[tbl_application] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_attendance] ON 

INSERT [dbo].[tbl_attendance] ([id], [empid], [adate], [atime], [addedon]) VALUES (1, N'shikha@gmail.com', CAST(N'2025-08-05' AS Date), CAST(N'13:03:00' AS Time), CAST(N'2025-08-05T01:03:55.000' AS DateTime))
INSERT [dbo].[tbl_attendance] ([id], [empid], [adate], [atime], [addedon]) VALUES (2, N'riya@gmail.com', CAST(N'2025-08-06' AS Date), CAST(N'12:45:00' AS Time), CAST(N'2025-08-06T12:45:49.000' AS DateTime))
INSERT [dbo].[tbl_attendance] ([id], [empid], [adate], [atime], [addedon]) VALUES (3, N'sa@gmail.com', CAST(N'2025-08-06' AS Date), CAST(N'13:16:00' AS Time), CAST(N'2025-08-06T01:16:50.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_attendance] OFF
GO
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'riya@gmail.com', N'123', 4)
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'sa@gmail.com', N'1234', 6)
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'shikha@gmail.com', N'techpile', 3)
GO
SET IDENTITY_INSERT [dbo].[tbl_enquiry] ON 

INSERT [dbo].[tbl_enquiry] ([id], [name], [mobile], [email], [message], [enqdate]) VALUES (7, N'shikha', 7894561230, N'shikha@gmail.com', N'h', CAST(N'2025-08-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_enquiry] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_leave] ON 

INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [applidon], [totaldays], [isaccepted], [attachfile]) VALUES (1, N'shikha@gmail.com', N'Sick', N'Feeling Not well!', CAST(N'2025-05-08' AS Date), CAST(N'2025-07-08' AS Date), CAST(N'2025-08-05T00:00:00.000' AS DateTime), 2, 0, N'')
INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [applidon], [totaldays], [isaccepted], [attachfile]) VALUES (2, N'shikha@gmail.com', N'Sick', N'Not Feeling Well!', CAST(N'2025-05-08' AS Date), CAST(N'2025-07-08' AS Date), CAST(N'2025-08-05T00:00:00.000' AS DateTime), 2, 1, N'')
INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [applidon], [totaldays], [isaccepted], [attachfile]) VALUES (3, N'shikha@gmail.com', N'Sick', N'ill', CAST(N'2025-05-08' AS Date), CAST(N'2025-07-08' AS Date), CAST(N'2025-08-05T00:00:00.000' AS DateTime), 2, 0, N'')
SET IDENTITY_INSERT [dbo].[tbl_leave] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_opening] ON 

INSERT [dbo].[tbl_opening] ([id], [title], [detail], [jobtype], [city], [minsalary], [maxsalary], [gender], [shift], [exp], [education], [vacancy], [lastdate], [startdate], [status]) VALUES (101, N'sr. .net developer', N'back-end', N'full time office based job', N'lucknow', 10000, 100000, N'all', N'day', N'2 year', N'bca', 10, CAST(N'2025-08-08' AS Date), CAST(N'2025-08-01' AS Date), 1)
INSERT [dbo].[tbl_opening] ([id], [title], [detail], [jobtype], [city], [minsalary], [maxsalary], [gender], [shift], [exp], [education], [vacancy], [lastdate], [startdate], [status]) VALUES (102, N'python developer', N'back-end', N'full', N'lucknow', 5000, 50000, N'all', N'day', N'2 year', N'bca', 10, CAST(N'2025-04-08' AS Date), CAST(N'2025-08-03' AS Date), 1)
INSERT [dbo].[tbl_opening] ([id], [title], [detail], [jobtype], [city], [minsalary], [maxsalary], [gender], [shift], [exp], [education], [vacancy], [lastdate], [startdate], [status]) VALUES (105, N'Android Dev', N'back-end', N'full time office based job', N'Delhi', 10000, 50000, N'all', N'day', N'1 year', N'b.tech', 5, CAST(N'2025-08-30' AS Date), CAST(N'2025-08-03' AS Date), 1)
SET IDENTITY_INSERT [dbo].[tbl_opening] OFF
GO
ALTER TABLE [dbo].[tbl_application]  WITH CHECK ADD FOREIGN KEY([jid])
REFERENCES [dbo].[tbl_opening] ([id])
GO
ALTER TABLE [dbo].[tbl_attendance]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
ALTER TABLE [dbo].[tbl_leave]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
USE [master]
GO
